.userMenuWrap {
   //can be implemented in future, when it will be normal menu on the top

   .mobileMenuIcon {
      position: fixed;
      top: 40px;
      left: 6px;      
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--color-dark-gray);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 101;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;

      &.hidden {
         transform: translateX(-50px);
      }

      &.includesNormalMenu {
         position: static;
         top: unset;
         left: unset;
         height: 100%;
      }

      i {
         font-size: 24px;
         color: var(--color-white);
         transition: color 0.5s ease-in-out;
      }

      &:hover {
         i {
            color: var(--color-black);
         }
      }
   }
}

@media all and (min-width: 480px) {
   .userMenuWrap {
      .mobileMenuIcon {
         top: 10px;
      }
   }
}

@media all and (min-width: 1230px) {
   .userMenuWrap {
      .mobileMenuIcon {         
         visibility: hidden;
      }
   }
}