@import "src/styles/variables";

.app {
   height: 100%;
   width: auto;
   display: flex;
   flex-direction: column;

   .appContent {
      width: 100%;
      height: auto;

      &.appContentWithMenu100vh {
         height: calc(100vh - 60px);
      }
   }
}