@import "src/styles/variables";

.mainWrap {
   width: 100%;
   height: auto;
   background-color: $colorDarkerGray;

   .middleContentWrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 900px;
      padding: 20px 15px;
      margin: 0 auto;
      background-color: transparent; //violet
      position: relative;

      .listOfSectionsContainer {
         width: auto;
         height: 100%;
         position: absolute;
         right: calc(100% + 5px);
         top: 20px;
         visibility: hidden;
      }
   }
}

@media all and (min-width: 1230px) {
   .mainWrap {
      .middleContentWrap {
         .listOfSectionsContainer {
            visibility: visible;
         }
      }
   }
}

@media all and (min-width: 700px) {
   .mainWrap {
      .middleContentWrap {
         padding: 20px 30px;
      }
   }
}