@import "src/styles/variables";

.textAreaWrap {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;

   .label {
      width: 100%;
      height: 20px;
      margin-bottom: 3px;
      padding-left: 2px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      p {
         color: $colorWhite;
         font-weight: 700;
         font-style: normal;
         font-size: 16px;
      }

      span.mandatory {
         color: $colorWhite;
         font-size: 20px;
         padding-left: 4px;
      }
   }

   .textArea {
      width: 100%;
      height: 146px;
      background-color: $colorWhite;
      border: 2px solid $colorDarkGray;
      border-radius: 10px;
      font-family: 'Nunito', sans-serif;
      color: $colorBlack;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      padding: 7px 9px;
      resize: none;
      overflow-x: hidden;
      overflow-y: auto;

      &::placeholder {
         color: $colorDarkestGray;
         font-size: 15px;
         font-weight: 400;
         font-style: normal;
      }

      &:focus {
         outline: none;
         border-color: $colorLemonGreen;
      }

      &:focus-visible {
         outline: none;
      }

      &.errorTextArea {
         background-color: $colorLightRed;
         border-color: $colorRed;
      }

      &.disabled {
         cursor: not-allowed;
      }
   }

   .errorMessage {
      height: 20px;
      padding-left: 2px;

      p {
         color: $colorRed;
         font-size: 13px;
         font-weight: 600;
         font-style: normal;
      }
   }
}