//Color variables
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorDarkWhite: #F7F3FF;
$colorLightPurple: #B266FF;
$colorDarkPurple: #7844AD;
$colorDarkerPurple: #4D2B6E;
$colorLightGray: #F7F3FF;
$colorGray: #8f8d8d;
$colorDarkGray: #525252;
$colorDarkGray2: #484848;
$colorDarkerGray: #303030;
$colorDarkestGray: #292626;
$colorRed: #FF1A1A;
$colorLightRed: #FFCCCC;
$colorLemonGreen: #8FEB34;
$colorGreen: #108700;
$colorBlue: #1A53FF;
