.uaHelpInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .svgWrap {
    width: 26px;
    height: 26px;
    margin-right: 10px;

    //svg {
    //   transform: scale(1.6);
    //}
  }

  p {
    color: var(--color-white);
    font-weight: 700;
    font-size: 17px;
    margin-right: 10px;
  }

  a {
    color: var(--color-light-blue);
    font-weight: 700;
    font-size: 17px;

    &:hover {
      text-decoration: underline;
    }
  }

  &.smallFont {
    p, a {
      font-size: 15px;
    }
  }
}