.item {
   width: auto;
   height: 42px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   cursor: pointer;
   overflow: hidden;
   border: 1px solid black;
   border-radius: 5px;
   box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);

   &.notSelectedItem {
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: none;
   }

   &.noBorder {
      border: none;
   }

   .countryFlagWrap {
      width: 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-dark-gray2);

      .svgWrap {
         width: 20px;
         height: 20px;
         border-radius: 50%;
         overflow: hidden;

         svg {
            transform: scale(1.6);
         }
      }
   }

   .countryShortcutWrap {
      width: 35px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-darker-gray);

      &.outerShortcutWrap {
         width: 70px;
      }

      p {
         font-size: 16px;
         font-weight: 700;
         font-style: normal;
         color: var(--color-white);
      }
   }

   &:hover {
      .countryFlagWrap {
         background-color: var(--color-darker-gray);
      }

      .countryShortcutWrap {
         background-color: var(--color-darkest-gray);
      }

      .arrowWrap {
         background-color: var(--color-darkest-gray);
      }
   }

   .arrowWrap {
      width: 35px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-darker-gray);

      i {
         font-size: 22px;
         color: white;
         transform: rotateZ(0);
         transition: transform 0.2s ease-in-out;

         &.isOpen {
            transform: rotateZ(-180deg);
         }
      }
   }
}