.wrapper {
   width: 100%;
   height: auto;
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   word-wrap: break-word;

   .item {
      width: auto;
      height: 100%;

      &.adjustedWidth {
         min-width: 170px;
      }

      .innerItem {
         margin-bottom: 8px;

         &:last-of-type {
            margin-bottom: 0;
         }
      }

      p {
         color: var(--color-white);
         font-size: 21px;
         font-weight: 400;

         &.large {
            font-size: 23px;
         }

         &.bold {
            font-weight: 600;
         }

         &.underline {
            text-decoration: underline;
         }
      }

      ul {
         width: 100%;
         margin-top: 10px;
         padding: 0;

         li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: 1px solid var(--color-dark-gray); //rgba(255, 255, 255, 0.4)

            p {
               color: var(--color-white);
               font-size: 20px;
               font-weight: 400;
               font-style: normal;
            }

            &.isOpened {
               p {
                  color: var(--color-lemon-green);
               }
            }

            &.isClosed {
               p {
                  color: var(--color-red);
               }
            }
         }
      }
   }
}

@media all and (min-width: 600px) {
   .wrapper {
      .item {
         &.adjustedWidth {
            min-width: 250px;
         }
      }
   }
}