@import "src/styles/variables";

.wrapper {
   width: 100%;
   height: auto;
   margin-bottom: 20px;

   .formWrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;

      .row {
         width: 100%;
         height: auto;

         &.center {
            display: flex;
            justify-content: center;
            align-items: flex-start;
         }

         &.inline {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
         }

         .inputWrapper {
            width: 100%;
            height: 80px;

            &.textArea {
               height: 200px;
            }

            &.shortVersion {

            }
         }

         .inputFileWrapper {
            width: 100%;
         }

         .conditionsInfoCheckboxWrapper {
            width: 100%;
            height: auto;
            margin: 10px 0;
            padding: 10px 20px;

            p {
               color: $colorWhite;
               font-size: 15px;
               font-weight: 600;
               font-style: normal;
               text-align: justify;
            }
         }

         .buttonWrapper {
            width: 100%;
            height: 50px;
            margin-bottom: 10px;
         }

         .messageBoxWrapper {
            width: 100%;
            height: auto;
         }
      }
   }
}

@media all and (min-width: 800px) {
   .wrapper {
      .formWrapper {
         .row {
            &.inline {
               flex-direction: row;
               justify-content: space-between;
               align-items: flex-start;
            }

            .inputWrapper {
               &.shortVersion {
                  width: 45%;
               }
            }
         }
      }
   }
}