// dark in left, light on right

.layoutColorPicker {
  width: 58px;
  height: 23px;
  border-radius: 20px;
  border: 1px solid var(--color-black);
  background-color: var(--color-darker-gray);
  padding: 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;

  .picker {
    width: 31px;
    height: 31px;
    background-color: var(--color-light-gray);
    border: 2px solid var(--color-black);
    border-radius: 50%;
    position: absolute;
    top: -4px; //(.layoutColorPicker.height - .picker.height)/2
    left: -2px; //(.layoutColorPicker.width - 2*.picker.width)/2
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;

    &.light {
      transform: translateX(100%);
    }
  }

  .moon {
    font-size: 13px;
    color: var(--color-light-gray);
  }

  .sun {
    font-size: 13px;
    color: var(--color-light-gray);
  }
}