.sectionWrap {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   background-color: transparent;

   .header {
      width: auto;
      height: auto;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      border-bottom: 2px solid var(--color-white);

      i {
         font-size: 33px;
         color: var(--color-white);
         padding-right: 10px;
      }

      p {
         color: var(--color-white);
         font-size: 28px;
         font-weight: 600;
      }
   }

   .content {
      width: 100%;
      height: auto;
   }
}