@import "src/styles/variables";

.inputFile {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   border-radius: 5px;
   border: 1px dashed $colorWhite;
   padding: 7px 9px;

   .label {
      width: 100%;
      margin-bottom: 3px;
      padding-left: 2px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      p {
         color: $colorWhite;
         font-weight: 700;
         font-style: normal;
         font-size: 16px;
      }

      span.mandatory {
         color: $colorWhite;
         font-size: 20px;
         padding-left: 4px;
      }
   }

   .inputWrap {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .input {
         width: auto;
         height: auto;
         background-color: transparent;
         color: $colorWhite;
         font-family: 'Nunito', sans-serif;
         font-size: 16px;
         font-weight: 700;
         font-style: normal;
         cursor: pointer;

         &::file-selector-button {
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            background-color: $colorWhite;
            color: $colorBlack;
            border-radius: 5px;
            border-color: $colorBlack;
            padding: 2px 5px;
         }

         &.errorInput {
            background-color: $colorLightRed;
            border-color: $colorRed;
         }

         &.disabled {
            cursor: not-allowed;
         }
      }

      .deleteButton {
         margin-left: 10px;
         width: 30px;
         height: 30px;
         background-color: $colorDarkGray;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;

         &.disabled {
            cursor: not-allowed;
         }

         i {
            font-size: 16px;
            color: $colorWhite;
            transition: color ease-in-out 0.2s;
         }

         &:hover {
            i {
               color: $colorBlack;
            }
         }
      }
   }

   .errorMessage {
      height: 20px;
      padding-left: 2px;

      p {
         color: $colorRed;
         font-size: 13px;
         font-weight: 600;
         font-style: normal;
      }
   }
}